[Desktop Entry]
Name=Gather
Comment=Gather Desktop (Linux port)
Exec=/opt/applications/gather/gather %U
Icon=gather
Type=Application
Categories=Network;InstantMessaging;VideoConference;
Terminal=false
StartupNotify=true
